{{#unless this.site.mobileView}}
  <div class="nd-panel">
    {{#if user}}
      <div class="nd-panel-top" style="background-image: url('{{this.userCardBg}}');">
        <div class="nd-panel-contents">
          <div class="nd-panel-contents-top">
            <div class="nd-avatar">
              <a href="/u/{{this.currentUser.username}}">
                {{avatar this.currentUser imageSize="medium"}}
              </a>
              <a href="/u/{{this.currentUser.username}}" class="nd-user-names">
                <span class="nd-name">
                  {{this.currentUser.name}}
                </span>
                <span class="nd-username">
                  {{this.currentUser.username}}
                </span>
              </a>              
            </div>
          </div>
          <div class="nd-panel-contents-stats">
            <div class="stats">
              <UserStat @value={{this.userLikesReceived}} @icon="heart" @label="this.user.summary.likes_received" /> 
              <a href="/u/{{this.user}}/activity/likes-given">
                <UserStat @value={{this.userLikesGiven}} @icon="heart" @label="this.user.summary.likes_given" />
              </a>
              {{#if (theme-setting 'nd_panel_show_solutions')}}
                <a href="/u/{{this.user}}/activity/solved">
                  <UserStat @value={{this.userSolvedCount}} @icon="check-square" @label="solved.solution_summary.other" />
                </a>
              {{/if}}
              <a href="/u/{{this.user}}/activity/topics">
                <UserStat @value={{this.userTopicCount}} @label="user.summary.topic_count" />
              </a>
              <a href="/u/{{this.user}}/activity/replies">
                <UserStat @value={{this.userPostCount}} @label="user.summary.post_count" />
              </a>
            </div>
            {{#if (theme-setting 'nd_panel_show_badges')}}
            {{#if stinkinBadges}}
              <div class="badges">
                {{#each stinkinBadges as |b|}}
                  <a href="/badges/{{b.id}}/{{b.slug}}">
                    <span class="user-badge badge-type-{{b.badge_type_id}}" title={{b.description}} data-badge-name={{b.name}}>
                      {{icon-or-image b}}
                      <span class="badge-display-name">{{b.name}}</span>
                      {{#if b.multiple_grant}}
                        <span class="count">&nbsp;(&times;{{b.grant_count}})</span>
                      {{/if}}
                      {{yield}}
                    </span>
                  </a>
                {{/each}}
                <a href="/u/{{this.user}}/badges">
                  <span class="user-badge">
                    <span class="count">{{i18n (theme-prefix "this.sidebar.all_badges")}} ({{this.allBadges}})</span>
                  </span>
                </a>
              </div>
            {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
    {{/if}}   
    
    {{#if user}}
      <div class="nd-panel-contents-bottom">
        <ndPanelItems />
      </div>
    {{/if}}
    
    {{#unless user}}
      <div class="visitor">
        <h2>{{i18n (theme-prefix "sidebar.welcome")}}</h2>
        {{#if (theme-setting 'custom_sidebar_enabled') }}
          {{#if (theme-setting 'custom_sidebar_image') }}
            <img src="{{theme-setting 'custom_sidebar_image'}}"/>
          {{/if}}
          <p>{{{theme-setting 'custom_sidebar_description'}}}</p>
          {{else}}
          {{replace-emoji (i18n "signup_cta.value_prop")}}
        {{/if}}
        <DButton @class="btn-primary sign-up-button" @action={{route-action "showCreateAccount"}} @label="sign_up" />
      </div>
    {{/unless}}
  </div>

  {{#if (theme-setting 'right_sidebar_below_nd_panel')}}
    <div class="tc-right-sidebar">
      {{right-sidebar-blocks}}
    </div>
  {{/if}}
{{/unless}}
